$b-black : #202020;

body {
    font-family: 'Slabo 27px', serif;
    overflow-x: hidden;
}

.navbar {

    .active {
        background-color: $b-black;
        border-left: 2px solid #fff;
    }

    .nav-link {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}

.carousel-item {
    height: 450px;
}

#home-heading {
    background: url('../img/lights.jpg');
    color: #fff;
    background-repeat: no-repeat;
}

#video-play {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url('../img/media.jpg');
    color: #fff;
    background-repeat: no-repeat;
}

#page-header {
    background: url(../img/image1.jpg);
    color: #fff;
    background-position: 0 -360px;
    background-attachment: fixed;
}

#icon-box {
    i {
        padding: 15px;
    }
}

.blockquote-footer {
    margin-top: 10px;
}